<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CIHub-Lab.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5003D4111ED3A78A004F3C27</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5003D4251ED3A78A004F3C27</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5003D4301ED3A78A004F3C27</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
